In [8]:
import pandas as pd 

##### CNA 1M bins
df = pd.read_csv("bin1M.tsv", sep = "\t")
df["seqnames"] = df["seqnames"].apply(lambda x: f"chr{x}")
df[["seqnames", "start", "end", "binIndex"]].to_csv("bin1M.bed", index=False, header=False, sep = "\t")

##### TSMA
df = pd.read_excel("./methyl_regions/TSMA.xlsx")
df["chromosome"] = df["chromosome"].apply(lambda x: f"chr{x}")
df[["chromosome", "coord.Start", "coord.End", "Region_name"]].to_csv("./methyl_regions/TSMA.bed", index=False, header=False, sep = "\t")

In [7]:
df

,Region_name,Group,chromosome,coord.Start,coord.End,symbol
0,1_182808141_182808238,WBC,1,182808141,182808238,NaN
1,1_184006169_184006262,WBC,1,184006169,184006262,COLGALT2
2,1_184006697_184006765,WBC,1,184006697,184006765,COLGALT2
3,1_185287129_185287208,WBC,1,185287129,185287208,NaN
4,1_208132492_208132592,WBC,1,208132492,208132592,NaN
...,...,...,...,...,...,...
3193,9_70919156_70919237,Breast,9,70919156,70919237,FOXD4L3
3194,9_70942182_70942257,Breast,9,70942182,70942257,NaN
3195,9_86755925_86756011,Breast,9,86755925,86756011,NaN
3196,9_93196028_93196113,Breast,9,93196028,93196113,NaN
3197,9_93880500_93880600,Breast,9,93880500,93880600,NaN