In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pathlib
from tqdm import tqdm
from feature_class import *

input_tsv = "/Users/hieunguyen/src/ecd_wgs_features/batch_test/1-ZLAAO90NB_S7509-S7709.sorted/1-ZLAAO90NB_S7509-S7709.sorted.final_output.tsv"
motif_order_path = "./motif_order.csv"
outputdir = "./batch_test/1-ZLAAO90NB_S7509-S7709.sorted"
path_to_old_nuc = "./batch_test/1-ZLAAO90NB_S7509-S7709.sorted/1-ZLAAO90NB_S7509-S7709.sorted.full_Nucleosome.dist.final.bed"

# files_to_delete = [item for item in pathlib.Path(outputdir).glob("*.bed") 
#                            if ".full_Nucleosome.dist.final.bed" in item.name == False 
#                            and ".final_output.tsv" in item.name == False]

output_obj = WGS_GW_Image_features(input_tsv = input_tsv,
                             motif_order_path = motif_order_path,
                             outputdir = outputdir,
                             path_to_old_nuc = path_to_old_nuc)
    
##### generate GW features and save features to output dir
output_obj.generate_flen_feature()
output_obj.generate_em_feature()
# output_obj.generate_nuc_feature()
output_obj.generate_nuc_feature_1()

all_features = WGS_GW_features(path_to_feature_dir="/Users/hieunguyen/src/ecd_wgs_features/batch_test",
                               path_to_metadata=None)

emdf = all_features.generate_em_matrix().reset_index()
nucdf = all_features.generate_nuc_matrix().reset_index()
flendf = all_features.generate_flen_matrix().reset_index()

old_emdf = pd.read_csv("em.old.csv", index_col=[0])
old_flendf = pd.read_csv("flen.old.csv", index_col=[0])
old_nucdf = pd.read_csv("nuc.old.csv", index_col=[0])   

sampleid = "ZLAAO90NB"

check_em = emdf.merge(old_emdf, right_on = "feat", left_on = "feat")
check_flen = flendf.merge(old_flendf, right_on = "feat", left_on = "feat")
check_nuc = nucdf.merge(old_nucdf, right_on = "feat", left_on = "feat")

In [ ]:
check_em.set_index("feat").plot()

In [ ]:
check_flen.set_index("feat").plot()

In [ ]:
check_nuc.set_index("feat").plot()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pathlib
from tqdm import tqdm
from feature_class import *

input_tsv = "/Users/hieunguyen/src/ecd_wgs_features/batch_test/1-ZLAAO90NB_S7509-S7709.sorted/1-ZLAAO90NB_S7509-S7709.sorted.final_output.tsv"
motif_order_path = "./motif_order.csv"
outputdir = "./batch_test/1-ZLAAO90NB_S7509-S7709.sorted"
path_to_old_nuc = "./batch_test/1-ZLAAO90NB_S7509-S7709.sorted/1-ZLAAO90NB_S7509-S7709.sorted.full_Nucleosome.dist.final.bed"

keep_files = [item for item in pathlib.Path(outputdir).glob("*") if ".full_Nucleosome.dist.final.bed" in item.name 
                           or ".final_output.tsv" in item.name]
all_files = [item for item in pathlib.Path(outputdir).glob("*")]
files_to_delete = [item for item in all_files if item not in keep_files]

In [30]:
maindf = pd.read_csv("/Users/hieunguyen/src/ecd_wgs_features/batch_test_FinaleDB/EE87519.hg19/EE87519.hg19.final_output.tsv",
                     sep = "\t", header = None)
maindf[(maindf[8].isna())][0].unique()

/var/folders/8j/g55jqp3s7mj16s_gvcwb4y800000gn/T/ipykernel_14747/3070878919.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  maindf = pd.read_csv("/Users/hieunguyen/src/ecd_wgs_features/batch_test_FinaleDB/EE87519.hg19/EE87519.hg19.final_output.tsv",

array(['X', 'Y'], dtype=object)

In [31]:
maindf[(maindf[8].isna())]

,0,1,2,3,4,5,6,7,8,9
1585229,X,131036108,131036317,209,X_131036108_131036317_60_-,60,-76249234,-76249403,NaN,NaN
1585230,X,131042998,131043256,258,X_131042998_131043256_60_-,60,-76253178,-76253388,NaN,NaN
1585231,X,131046266,131046435,169,X_131046266_131046435_60_-,60,-76253434,-76253617,NaN,NaN
1585232,X,131046801,131046965,164,X_131046801_131046965_60_-,60,-76253957,-76254151,NaN,NaN
1585233,X,131047248,131047433,185,X_131047248_131047433_60_+,60,-76254254,-76254420,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1605535,Y,59031198,59031362,164,Y_59031198_59031362_40_+,40,-9996556,-9996688,NaN,NaN
1605536,Y,59031535,59031716,181,Y_59031535_59031716_36_-,36,-9997153,-9997298,NaN,NaN
1605537,Y,59032406,59032589,183,Y_59032406_59032589_40_-,40,-9997383,-9997572,NaN,NaN
1605538,Y,59032874,59033060,186,Y_59032874_59033060_40_+,40,-9999951,-10000106,NaN,NaN
1605539,Y,59033776,59033948,172,Y_59033776_59033948_23_-,23,-9999973,-10000139,NaN,NaN